.button {
  box-shadow: none;
  height: 60px;
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  border: 1px #707070 solid;
  color: #707070;
  transition: 0.2s;
  background-color: white; }
  .button:hover {
    cursor: pointer;
    background-color: #707070;
    color: white; }
  .button.dark {
    background-color: #2D2D2D;
    border-color: #707070;
    color: #707070; }
    .button.dark:hover {
      background-color: #707070;
      color: #FFFFFF; }

.button-aqua {
  background-color: white;
  color: #6BBAA7;
  border-color: #6BBAA7; }
  .button-aqua:hover {
    background-color: #6BBAA7;
    color: white; }
  .button-aqua.dark {
    background-color: #2D2D2D;
    color: #35816f;
    border-color: #35816f; }
    .button-aqua.dark:hover {
      background-color: #35816f;
      color: white; }

.button-filled-aqua {
  background-color: #6BBAA7;
  color: white;
  border-color: #6BBAA7; }
  .button-filled-aqua:hover {
    background-color: white;
    color: #6BBAA7; }
  .button-filled-aqua.dark {
    background-color: #35816f;
    color: white;
    border-color: #35816f; }
    .button-filled-aqua.dark:hover {
      background-color: #2D2D2D;
      color: #35816f; }

.button-orange {
  background-color: white;
  color: #FBA100;
  border-color: #FBA100; }
  .button-orange:hover {
    background-color: #FBA100;
    color: white; }
  .button-orange.dark {
    background-color: #2D2D2D;
    color: #B1750F;
    border-color: #B1750F; }
    .button-orange.dark:hover {
      background-color: #B1750F;
      color: white; }

.button-filled-orange {
  background-color: #FBA100;
  color: white;
  border-color: #FBA100; }
  .button-filled-orange:hover {
    background-color: white;
    color: #FBA100; }
  .button-filled-orange.dark {
    background-color: #B1750F;
    color: white;
    border-color: #B1750F; }
    .button-filled-orange.dark:hover {
      background-color: #2D2D2D;
      color: #B1750F; }

.button-purple {
  background-color: white;
  color: #6b5aac;
  border-color: #6b5aac; }
  .button-purple:hover {
    background-color: #6b5aac;
    color: white; }
  .button-purple.dark {
    background-color: #2D2D2D;
    color: #52487c;
    border-color: #52487c; }
    .button-purple.dark:hover {
      background-color: #52487c;
      color: white; }

.button-filled-purple {
  background-color: #6b5aac;
  color: white;
  border-color: #6b5aac; }
  .button-filled-purple:hover {
    background-color: white;
    color: #6b5aac; }
  .button-filled-purple.dark {
    background-color: #52487c;
    color: white;
    border-color: #52487c; }
    .button-filled-purple.dark:hover {
      background-color: #2D2D2D;
      color: #52487c; }

.button-gray {
  background-color: white;
  color: #B6A19E;
  border-color: #B6A19E; }
  .button-gray:hover {
    background-color: #B6A19E;
    color: white; }
  .button-gray.dark {
    background-color: #2D2D2D;
    color: #cabab8;
    border-color: #cabab8; }
    .button-gray.dark:hover {
      background-color: #cabab8;
      color: #2D2D2D; }

.button-filled-gray {
  background-color: #B6A19E;
  color: white;
  border-color: #B6A19E; }
  .button-filled-gray:hover {
    background-color: white;
    color: #B6A19E; }
  .button-filled-gray.dark {
    background-color: #cabab8;
    color: #2D2D2D;
    border-color: #cabab8; }
    .button-filled-gray.dark:hover {
      background-color: #2D2D2D;
      color: #cabab8; }

.button-green {
  background-color: white;
  color: #A4D555;
  border-color: #A4D555; }
  .button-green:hover {
    background-color: #A4D555;
    color: white; }
  .button-green.dark {
    background-color: #2D2D2D;
    color: #789b41;
    border-color: #789b41; }
    .button-green.dark:hover {
      background-color: #789b41;
      color: white; }

.button-filled-green {
  background-color: #A4D555;
  color: white;
  border-color: #A4D555; }
  .button-filled-green:hover {
    background-color: white;
    color: #A4D555; }
  .button-filled-green.dark {
    background-color: #789b41;
    color: white;
    border-color: #789b41; }
    .button-filled-green.dark:hover {
      background-color: #2D2D2D;
      color: #789b41; }

.button-dark {
  background-color: white;
  color: #2D2D2D;
  border-color: #2D2D2D; }
  .button-dark:hover {
    background-color: #2D2D2D;
    color: white; }
  .button-dark.dark {
    background-color: #2D2D2D;
    color: #2D2D2D;
    border-color: #2D2D2D; }
    .button-dark.dark:hover {
      background-color: #2D2D2D;
      color: white; }

.button-filled-dark {
  background-color: #2D2D2D;
  color: white;
  border-color: #2D2D2D; }
  .button-filled-dark:hover {
    background-color: white;
    color: #2D2D2D; }
  .button-filled-dark.dark {
    background-color: #2D2D2D;
    color: white;
    border-color: #2D2D2D; }
    .button-filled-dark.dark:hover {
      background-color: #2D2D2D;
      color: #2D2D2D; }

.button-light {
  background-color: white;
  color: #F5F2D0;
  border-color: #F5F2D0; }
  .button-light:hover {
    background-color: #F5F2D0;
    color: white; }
  .button-light.dark {
    background-color: #2D2D2D;
    color: #f5f2d0;
    border-color: #f5f2d0; }
    .button-light.dark:hover {
      background-color: #f5f2d0;
      color: #2D2D2D; }

.button-filled-light {
  background-color: #F5F2D0;
  color: white;
  border-color: #F5F2D0; }
  .button-filled-light:hover {
    background-color: white;
    color: #F5F2D0; }
  .button-filled-light.dark {
    background-color: #f5f2d0;
    color: #2D2D2D;
    border-color: #f5f2d0; }
    .button-filled-light.dark:hover {
      background-color: #2D2D2D;
      color: #f5f2d0; }

.label {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

#board {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0px auto;
  width: 240px;
  height: 240px; }
  #board .cell {
    font-family: "Source Code Pro", monospace;
    height: 120px;
    width: 120px;
    font-size: 84px;
    text-align: center;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */ }
    #board .cell:hover {
      cursor: pointer;
      background-color: #f2f2f2; }
    #board .cell.preview-move {
      opacity: 0.6; }
    #board .cell.dark {
      border-color: #F5F2D0; }
      #board .cell.dark:hover {
        background-color: #3a3a3a; }
  #board #row-1 .cell {
    border-top: 2px solid;
    border-bottom: 2px solid; }
  #board .cell-1 {
    border-left: 2px solid;
    border-right: 2px solid; }

#start-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }
  #start-menu > * {
    margin: 10px 20vw; }

#game-buttons > button {
  margin: 8px 2px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  font-family: monospace; }

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }
  body.dark {
    background-color: #2D2D2D;
    color: #FFFFFF; }

.dark {
  background-color: #2D2D2D;
  color: #FFFFFF; }

#dark-mode-button {
  position: fixed;
  right: 10px;
  bottom: 10px; }

#page-title, #winner {
  font-family: monospace; }

.blinking {
  animation: blinking 1s infinite; }

@keyframes blinking {
  0%, 49.9%, 100% {
    opacity: 0; }
  50%, 99.9% {
    opacity: 1; } }

/*# sourceMappingURL=styles.css.map */