@import "variables";
@import "components";
@import "board";
@import "menu";

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    font-family: monospace;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    &.dark {
        background-color: $dark-background-color;
        color: $dark-mode-font-color;
    }
}

.dark {
    background-color: $dark-background-color;
    color: $dark-mode-font-color;
}

#dark-mode-button {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

// Page title font
#page-title, #winner {
    font-family: $header-font;
}

// For now, just the fake cursor
.blinking {
    animation: blinking 1s infinite;
}

@keyframes blinking {
    0%, 49.9%, 100%   { opacity: 0; }
    50%, 99.9% { opacity: 1; }
}